<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
 
<script defer crossorigin="anonymous" src="https://eum.instana.io/eum.min.js"></script>
  <body>

    <script type = "text/javascript">
  
      window.print(;
   
</script>
    <h2 th:text="#{welcome}">Welcome Instana</h2>
    
    <h2>My Pet Clinic </h2> 
    
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>

  </body>

</html>
